
{% extends 'base.html' %}
{% load static %}

{% block content %}
<pre>
  <h5 style="color:#4AF626;">

   \      [hedgecoin city]     /
    \                         /
     \    ..searching for    /
      ]   data..            [    ,'|
      ]                     [   /  |
      ]___               ___[ ,'   |
      ]  ]\             /[  [ |:   |
      ]  ] \           / [  [ |:   |
      ]  ]  ]         [  [  [ |:   |
      ]  ]  ]__     __[  [  [ |:   |
      ]  ]  ] ]\ _ /[ [  [  [ |:   |
      ]  ]  ] ] (#) [ [  [  [ :===='
      ]  ]  ]_].nHn.[_[  [  [
      ]  ]  ]  HHHHH. [  [  [
      ]  ] /   `HH("N  \ [  [
      ]__]/     HHH  "  \[__[
      ]         NNN         [
      ]         N/"         [
      ]         N H         [
     /          N            \
    /           q,            \
   /                           \
  
  </pre>
</h5>

<p>


<div>

<br>
<br>
<br>
<br>
<pre>
<div class="container">
<p class="text-muted">



// Here commeth the explanation:
_______________________________________________

* Inspect instruments using technical indicators
* Add your preferred instruments to UNIVERSE
* Set CASH entry. Default is NOK 200.000,- 
* Set time to cash out
* Set risk level (what they think)
* Set what you(they) would like the portfolio to grow to in the time they want to invest. Best case, worst case. 
-if + 50%, then they must take a lot of risk in s a short time.
* Set weights for each stock
* Set risk limiter for buy/sell (entrance into each stock). If you like more risk, then you buy at 1.5 stdev instead of 2.0 stdev down for instance. Backtest this. 
- the risk limiter might be TRUE today for some of the stocks, then just buy it today. Otherwise wait for the stocks you also want, but are not confident on the technical indicators (because they are overbought, rsi or something individual to the stock)
________________________________________________

* Run tests for correlastion
* Run test for sma-optimizing
* Run test for risk-optimizer
* Run test for sector-risk

* Optmize from results.
_________________________________________________

* Select buy criteria. 
* Select sell criteria.
* Select sell all criteria. 
_________________________________________________

* Compliance, KYC
* Fund account
* Document signing, onboard new customer
_________________________________________________


For dev:
- Make WARNIGS automatic when breaking thresholds. 
</p>
</pre>

</div>
</div>


{% endblock %}
