
{% extends 'base.html' %}
{% load static %}

{% block content %}
<pre>
  <h5 style="color:#4AF626;">

   \      [hoho hoho]     /
    \                         /
     \    ..searching for    /
      ]   data..            [    ,'|
      ]                     [   /  |
      ]___               ___[ ,'   |
      ]  ]\             /[  [ |:   |
      ]  ] \           / [  [ |:   |
      ]  ]  ]         [  [  [ |:   |
      ]  ]  ]__     __[  [  [ |:   |
      ]  ]  ] ]\ _ /[ [  [  [ |:   |
      ]  ]  ] ] (#) [ [  [  [ :===='
      ]  ]  ]_].nHn.[_[  [  [
      ]  ]  ]  HHHHH. [  [  [
      ]  ] /   `HH("N  \ [  [
      ]__]/     HHH  "  \[__[
      ]         NNN         [
      ]         N/"         [
      ]         N H         [
     /          N            \
    /           q,            \
   /                           \
  
  </pre>
</h5>

<p>


<div>

<br>
<br>
<br>
<br>
<pre>
<div class="container">
<p class="text-muted">



// Here commeth the explanation:
_______________________________________________

* Inspect instruments using technical indicators
* 
</p>
</pre>

</div>
</div>


{% endblock %}
